$primary: rgb(84, 137, 62);
$navbar-heigh: 8vh;


@use './components/' as *;
@import '../node_modules/bootstrap/scss/bootstrap.scss';



header {
    display: none;
}

body {
    max-width: 100%;
    overflow-x: hidden;
}


.navbar {
    height: $navbar-heigh;
}


@include media-breakpoint-up(lg) {
    header {
        display: block;
    }
}


section {
    padding-top: $navbar-heigh;
    padding-bottom: $navbar-heigh;
}


.hero {
    overflow: hidden;

    &-video {
        top: 0;
        z-index: -10;

        &-filter {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;

            width: 100%;
            height: 100vh;

            background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(84, 137, 62, 0.4));
        }
    }

}

// .hero-background {
//     background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(56, 72, 56, 0.6)), url(../assets/img/background/pexels-photo-716661.webp);
//     // background-position: center;
//     background-size: cover;
// }



@media (min-aspect-ratio: 16/9) {
    .hero-video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .hero-video {
        width: auto;
        height: 100%;
    }
}


.section {


    &-title {
        margin-bottom: 3.75rem;

        &-line {
            width: 60px;
            height: 4px;
            background-color: $primary;
            margin: 1rem auto 1.5rem auto;
        }

        p {
            max-width: 640px;
            margin-left: auto;
            margin-right: auto;
        }
    }

}


/* COUNTER */
.counter {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(84, 137, 62, 0.6)), url(../assets/img/counter.jpg);
    background-position: center;
    background-size: cover;
}


.box-shadow {
    box-shadow: 0px 15px 25px rgba(0,0,0,0.08);
}


.iconbox {
    width: 70px;
    height: 70px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: rgba($primary, 0.1);
    color: $primary;
    font-size: 2.125rem;
    flex: none;
}


.about {

    &-image {
        width: auto;
        height: 50vh;
    }


}


