$primary: #54893e;
// $secondary: #626668;

@import '../node_modules/bootstrap/scss/bootstrap.scss';


header {
    display: none;
}


@include media-breakpoint-up(lg) {
    header {
        display: block;
    }
}

.hero-background {
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(56, 72, 56, 0.6)), url(../assets/img/background/pexels-photo-716661.webp);
    // background-position: center;
    background-size: cover;
}