/* .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }
  
  .navbar .navbar-collapse {
    text-align: center;
  } */

  /* * {
    outline: 0.5px solid rgb(121, 149, 98);
  } */